<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
<!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>-->
<!--<link rel='stylesheet' href='https://alvarotrigo.com/fullPage/jquery.fullPage.css'>-->
<link rel="stylesheet" href="./examples.css">
<link rel="stylesheet" href="./fullpage.css">
<link rel="stylesheet" href="./style.css">
